@model IEnumerable<_210521_AspNet_InOut_Expenses.Models.Expense>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Expenses List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Expense" asp-action="Create" class="btn btn-primary">Create new Expense</a>
        </div>
    </div>
    <br />

    @if(Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
            <tr>
                <th>
                    Expense
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Expense Type
                </th>
                <th>
                    Changes
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach(var expense in Model)
            {
                <tr>
                    <td width="25%">@expense.ExpenseName</td>
                    <td width="25%">@expense.Amount</td>
                    <td width="25%">@expense.ExpenseType.Name</td>
                    <td width="25%">
                        <div class="w-100 btn-group" role="group">
                            <a asp-controller="Expense" asp-action="Update" asp-route-Id="@expense.Id" class="btn btn-primary mx-1">Update</a>
                            <a asp-controller="Expense" asp-action="Delete" asp-route-Id="@expense.Id" class="btn btn-danger mx-1">Delete</a>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table> 
    }
    else
    {
        <p>No items created yet</p>
    }

</div>